$navbar-color : #1f1f1f;



.navbar-container {
    display: flex;
    align-items: center;
    background-color: $navbar-color;
    min-height: 4%;
}

.nav-items{
    ul {
        display: flex;
        list-style: none;
        li {
            margin-right: 15px;
            a {
                color: #fff;
                text-transform: capitalize;
                text-decoration: none;
            }
            a:hover {
                text-decoration: underline;
                color: rgba($color: #fff, $alpha: 0.7);
            }
        }
    }
}

.navbar-brand {
    color: #fff;
    margin: 2%;
    text-transform: capitalize;
}